{% extends "::base.html.twig" %}

{% block title %}web3tcEchangeBundle:Admin:pays{% endblock %}

{% block body %}

                
   <div class="jumbotron">
        <h2>Page Administration</h2>
        
        {# Message qui se met dans la variable de session et qui est supprimé dès qu'il est affiché sur une page #}
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="well"> <a href="{{path('_ajoutVille')}}" class="btn btn-info btn-lg btn-block" >Ajouter une ville </a> </div>
        <div class="well"> <a href="{{path('_ajoutDepartement')}}" class="btn btn-info btn-lg btn-block" >Ajouter un depatement </a> </div>
        <div class="well"> <a href="{{path('_ajoutUniversite')}}" class="btn btn-info btn-lg btn-block" >Ajouter une universite </a> </div>

   </div>
        {% endblock %}
