{# src/web3tc/EchangeBundle/Resources/views/Echange/formulaire.html.twig #}

{% extends "::base.html.twig" %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{asset('jqvmap/jqvmap/jqvmap.css')}}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}

    <h3> Echanges Universitaires - {{pays.nom}}</h3>
 <div class="col-md-offset-1" id="vmap" name="{{pays.nom}}" style="width: 1000px; height: 600px;"></div>
  {% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
 
    jQuery(document).ready(function() {
        var vmap = jQuery('#vmap')
        var pays = vmap.attr('name'); 
        vmap.vectorMap(
            {
            map: pays,
            backgroundColor: null,
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            color: '#0B3861',
            enableZoom: true,
            hoverColor: '#DF7401',
            hoverOpacity: 0.3,
            normalizeFunction: 'polynomial',
            scaleColors: ['#C8EEFF', '#006491'],
            selectedColor: '#c9dfaf',
            selectedRegion: null,
            showTooltip: true,
            onLabelShow: function(element, code, region)
            {
                
            },
            onRegionClick: function(element, code, region)
            {
               window.location.href="../Pays/"+code.toUpperCase();
            }
        });
    });
    </script>
    <script src="{{asset('jqvmap/jqvmap/jquery.vmap.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.france.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.germany.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.algerie.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.bresil.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.russie.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.usa.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.argentine.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.inde.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.belgique.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.australie.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.chine.js')}}" type="text/javascript"></script>


{% endblock %}


