{# src/web3tc/EchangeBundle/Resources/views/Echange/listeContrats.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="well">
                <h2><strong>Contrat d'étude</strong></h2>
                <h3><strong> Département </strong> - {{contrat.departement.nom}}</h3>
                <h3><strong> Université </strong> - {{contrat.universite.nom}}</h3>
                <br/>
                <br/>
                
                <p><strong>Nom:</strong> {{contrat.NomEleve}}</p>
                <p><strong>Prénom:</strong>  {{contrat.PrenomEleve}}</p>
                <p><strong>Année en cours:</strong>  {{contrat.AnneeEnCours}}</p>
                <p><strong>Durée de l'échange:</strong>  {{contrat.DureeDuSejour}}</p>
                <br/>
                <h4><strong>Cours suivis</strong></h4>

<table class="table table-striped">
        <tr>
            <th>Numéro</th><th>Cours</th><th>Semestre(s)</th><th>Crédits</th>
        </tr>
        {% for cours in contrat.cours %}
            <tr>
                <td>{{cours.numero}}</td>
                <td>{{cours.titre}}</td>
                <td>{{cours.semestre}}</td>
                <td>{{cours.credits}}</td>                
            </tr>
    {% endfor %}
    </table>
    
                {% for cours in contrat.cours %}

                    <p><strong>Numéro:</strong>  {{cours.numero}}</p>
                    <p><strong>Titre:</strong>  {{cours.titre}}</p>
                    <p><strong>Semestre:</strong>  {{cours.semestre}}</p>
                    <p><strong>Crédit:</strong>  {{cours.credits}}</p>
                {% endfor %}
            </div>
        </div>  
    </div>  
{% endblock%}
