{# src/web3tc/EchangeBundle/Resources/views/Echange/formulaire.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{asset('jqvmap/jqvmap/jqvmap.css')}}" media="screen" rel="stylesheet" type="text/css" />
{% endblock%}

{% block body %}
    
    <h3>
        <strong> Département </strong> {{ app.session.get('departement') }}</br>
        <strong>Université </strong> {{universite.nom}} - {{universite.ville.nom}} - {{ universite.ville.pays.nom}}<br/>
    </h3>
    
    <div class="col-md-12">
        {% for contrat in contrats %}
            <div class="well col-md-offset-1 col-md-5"><a href="{{path('_acceuil')}}">
                <strong>Nom :</strong> {{contrat.nomEleve}}<br/>
                <strong>Prénom :</strong> {{contrat.prenomEleve}}<br/>
                <strong>Année :</strong> {{contrat.anneeEnCours}}-{{contrat.anneeEnCours+1}} Semestre {{contrat.dureeDuSejour}}
            </a></div>
        {% endfor %}
    </div>
    
{% endblock %}


