{# src/web3tc/EchangeBundle/Resources/views/Echange/formulaire.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{asset('jqvmap/jqvmap/jqvmap.css')}}" media="screen" rel="stylesheet" type="text/css" />
{% endblock%}

{% block body %}
    
    <h2>
        <strong> Département </strong> {{ app.session.get('departement') }}</br>
    <strong>Université </strong>
    {{universite.nom}} - {{universite.ville.nom}} - {{ universite.ville.pays.nom}}<br/>
    <small>Contrats d'études des années précèdentes</small>
    </h2>
    
    <div class="col-md-12">
        {% for contrat in contrats %}
            <div class="well col-md-offset-1 col-md-5"><a href="{{path('_acceuil')}}">
                <strong>Nom :</strong> {{contrat.nomEleve}}<br/>
                <strong>Prénom :</strong> {{contrat.prenomEleve}}<br/>
                <strong>Année :</strong> {{contrat.anneeEnCours}}-{{contrat.anneeEnCours+1}} Semestre {{contrat.dureeDuSejour}}
            </a></div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
         
    jQuery(document).ready(function() {
        jQuery('#vmap').vectorMap(
            {
            map: 'world_en',
            backgroundColor: null,
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            color: '#0B3861',
            enableZoom: true,
            hoverColor: '#DF7401',
            hoverOpacity: 0.3,
            normalizeFunction: 'polynomial',
            scaleColors: ['#C8EEFF', '#006491'],
            selectedColor: '#c9dfaf',
            selectedRegion: null,
            showTooltip: true,
            onRegionClick: function(element, code, region)
            {
               window.location.href="../Pays/"+code.toUpperCase();
            }
        });
    });
    </script>
    <script src="{{asset('jqvmap/jqvmap/jquery.vmap.js')}}" type="text/javascript"></script>
    <script src="{{asset('jqvmap/jqvmap/maps/jquery.vmap.world.js')}}" type="text/javascript"></script>
{% endblock %}


